<mat-card>
  <mat-card-header>
    <mat-card-title>
      <mat-icon> featured_play_list</mat-icon>
      Playlists
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    @for (playlist of playlists; track playlist.id) {
      <mat-list>
        <mat-list-item>
          <button mat-button color="secondary">{{ playlist.name }}</button>
        </mat-list-item>
      </mat-list>
    }
    @if ((playlists && playlists.length === 0) || !playlists) {
      <p>
        Noch keine Playlists erstellt.
      </p>
    }
    <button mat-raised-button color="primary" (click)="toggleModal()">
      Playlist erstellen
    </button>
  </mat-card-content>
</mat-card>

<app-add-playlist-modal
  [(showModal)]="showModal"
  [searchResults]="searchResults"
></app-add-playlist-modal>
