<mat-card class="login-container">
  <mat-card-header>
    <mat-card-title>Music DB - LOGIN</mat-card-title>
  </mat-card-header>
  <form #form="ngForm" class="col form" (submit)="loginUser(username, password)">
    <mat-card-content class="col">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input
          type="text"
          matInput
          [(ngModel)]="username"
          placeholder="Name"
          name="username"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Passwort</mat-label>
        <input
          type="password"
          matInput
          placeholder="Password"
          name="password"
          [(ngModel)]="password"
          required
        />
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions class="col">
      <button type="submit" mat-button color="primary" [disabled]="form.invalid">
        Anmelden
      </button>
      <a type="button" mat-button color="secondary" [routerLink]="['/register']">
        Registrieren
      </a>
    </mat-card-actions>
  </form>
</mat-card>

