<mat-card color="black">
  <mat-card-content class="image-wrapper">
    <img [src]="cover" />
  </mat-card-content>
  <mat-card-header>
    <mat-card-title>{{ title?.name }}</mat-card-title>
    <button mat-icon-button color="accent" (click)="playAudio(title?.id || 1)">
      <mat-icon *ngIf="!audioStarted">play_arrow</mat-icon>
      <mat-icon *ngIf="audioStarted">stop</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    {{ title?.label?.name }}
  </mat-card-content>

  <mat-card-actions>
    <button
      mat-button
      color="accent"
      (click)="downloadSong(title?.id, title?.name)"
    >
      <mat-icon> download </mat-icon>
      Herunterladen
    </button>
  </mat-card-actions>
</mat-card>
