.wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  height: 100vh;
  overflow-y: scroll;
}

mat-card {
  background-color: rgba(0, 0, 0, 0.8);
  width: 600px;
}

.button-wrapper {
  display: flex;
  justify-content: space-between;
}

.row {
  display: flex;
  align-items: center;
}
