@use '@angular/material' as mat;

////@include mat.core();
//
///* Default: dark */
////:root {
////  color-scheme: dark;
////  @include mat.theme((
////    color: (
////      theme-type: dark,
////      primary: mat.$rose-palette,   // was mat.$pink-palette
////      tertiary: mat.$azure-palette, // was mat.$blue-grey-palette
////    ),
////    typography: Roboto,
////    density: 0,
////  ));
////}

///* Prefer light scheme when the OS/browser asks for it */
//@media (prefers-color-scheme: light) {
//  :root {
//    color-scheme: light;
//    @include mat.theme((
//      color: (
//        theme-type: light,
//        primary: mat.$indigo-palette,
//        tertiary: mat.$pink-palette,
//      )
//    ));
//  }
//}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 20px);
}

.col {
  display: flex;
  flex-direction: column;
  //align-items: center;
  //justify-content: center;
}

.col-start {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;

}

.table {
  display:table;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}


mat-form-field {
  width: 100%;
}



