<script src="../add-song/add-song.component.ts"></script>
<script src="../home.component.ts"></script>
<mat-card-content class="col">
  <mat-form-field class="search-wrapper">
    <input
      type="search"
      matInput
      placeholder="Suchbegriff"
      name="email"
      required
    />
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>
  <h2>Suche filtern</h2>
  <div class="row">
    <app-dropdown [dropdown]="dropdownGenre" title="Genre"></app-dropdown>
    <app-dropdown [dropdown]="dropdownArtist" title="Artist"></app-dropdown>
    <app-dropdown [dropdown]="dropdownMood" title="Mood"></app-dropdown>
    <app-dropdown [dropdown]="dropdownInstrument" title="Instrument"></app-dropdown>
    <app-dropdown [dropdown]="dropdownTempo" title="Tempo"></app-dropdown>
  </div>

  <div class="title-wrapper" *ngIf="searchResults.length > 0">
    <app-title-card *ngFor="let result of currentResults()" [title]="result"></app-title-card>
  </div>

  <mat-paginator [length]="searchResults.length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[5, 10, 25, 100]"
                 [pageIndex]="currentPageIndex"
                 (page)="handlePageEvent($event)"
                 aria-label="Select page">
  </mat-paginator>

</mat-card-content>
