<mat-card-content class="col">
  <div class="row">
    <mat-form-field class="search-wrapper">
      <mat-icon matPrefix>search</mat-icon>
      <input
        type="search"
        matInput
        placeholder="Suchbegriff"
        name="email"
        required
        [(ngModel)]="searchString"
        (keyup.enter)="search()"
      />
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="toggleModal()">
      Neues Album
    </button>
  </div>

  <h2>Suche filtern</h2>

  <div class="row">
    <div class="select-wrapper">
      <mat-form-field>
        <mat-label>Genre</mat-label>
        <mat-select [(value)]="selectedGenre">
          @for (option of dropdownGenre; track option.id) {
            <mat-option [value]="option.id">{{ option.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="select-wrapper">
      <mat-form-field>
        <mat-label>Artist</mat-label>
        <mat-select [(ngModel)]="selectedArtist">
          @for (option of dropdownArtist; track option.name) {
            <mat-option [value]="option.name">{{ option.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="select-wrapper">
      <mat-form-field>
        <mat-label>Mood</mat-label>
        <mat-select [(ngModel)]="selectedMood">
          @for (option of dropdownMood; track option.id) {
            <mat-option [value]="option.id">{{ option.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <div class="select-wrapper">
      <mat-form-field>
        <mat-label>Instrument</mat-label>
        <mat-select [(ngModel)]="selectedInstrument">
          @for (option of dropdownInstrument; track option.id) {
            <mat-option [value]="option.id">{{ option.name }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field>
      <input
        type="number"
        matInput
        placeholder="Tempo (in bpm)"
        name="tempo"
        required
        min="0"
        max="300"
        [(ngModel)]="tempo"
      />
    </mat-form-field>
  </div>

  <button mat-button color="primary" class="search-button" (click)="search()">
    Songtitel Suchen
  </button>

  @if (searchResults?.length) {
    <div class="title-wrapper">
      @for (result of currentResults(); track $index) {
        <app-title-card [title]="result"></app-title-card>
      }
    </div>
  }

  <mat-paginator
    [length]="searchResults?.length || 0"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    [pageIndex]="currentPageIndex"
    (page)="handlePageEvent($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</mat-card-content>

<app-add-album
  [(showModal)]="showAlbumModal"
  [searchResults]="searchResults"
></app-add-album>
