<mat-card-content class="col">
  <div class="row">
    <mat-form-field class="search-wrapper">
      <input
        type="search"
        matInput
        placeholder="Suchbegriff"
        name="email"
        required
        [(ngModel)]="searchString"
        (keyup.enter)="search()"
      />
      <mat-icon matPrefix>search</mat-icon>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="toggleModal()">
      Neues Album
    </button>
  </div>

  <h2>Suche filtern</h2>
  <div class="row">
    <div class="select-wrapper">
      <mat-form-field>
        <mat-label>Genre</mat-label>
        <mat-select [(value)]="selectedGenre">
          <mat-option *ngFor="let option of dropdownGenre" [value]="option.id">
            {{ option.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="select-wrapper">
      <mat-form-field>
        <mat-label>Artist</mat-label>
        <mat-select [(ngModel)]="selectedArtist">
          <mat-option
            *ngFor="let option of dropdownArtist"
            [value]="option.name"
          >
            {{ option.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="select-wrapper">
      <mat-form-field>
        <mat-label>Mood</mat-label>
        <mat-select [(ngModel)]="selectedMood">
          <mat-option *ngFor="let option of dropdownMood" [value]="option.id">
            {{ option.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="select-wrapper">
      <mat-form-field>
        <mat-label>Instrument</mat-label>
        <mat-select [(ngModel)]="selectedInstrument">
          <mat-option
            *ngFor="let option of dropdownInstrument"
            [value]="option.id"
          >
            {{ option.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-form-field>
      <input
        type="number"
        matInput
        placeholder="Tempo (in bpm)"
        name="tempo"
        required
        min="0"
        max="300"
        [(ngModel)]="tempo"
      />
    </mat-form-field>
  </div>
  <button mat-button color="primary" class="search-button" (click)="search()">
    Songtitel Suchen
  </button>

  <div class="title-wrapper" *ngIf="searchResults && searchResults.length > 0">
    <app-title-card
      *ngFor="let result of currentResults()"
      [title]="result"
    ></app-title-card>
  </div>

  <mat-paginator
    [length]="searchResults?.length || 0"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5, 10, 25, 100]"
    [pageIndex]="currentPageIndex"
    (page)="handlePageEvent($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</mat-card-content>

<app-add-album
  [(showModal)]="showAlbumModal"
  [searchResults]="searchResults"
></app-add-album>
