.search-wrapper {
  width: calc(100% - 20px);
  margin-top: 10px;
  max-width: 25%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: calc(100% - 20px);
  column-gap: 20px;
  row-gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.search-button {
  width: min-content;
  // align-self: flex-end;
  white-space: nowrap;
}

.select-wrapper {
  //max-width: 200px;
  margin-right: 20px;
}
